.App {
  width: 60%;
  margin: auto;
  background-color: white;
  height: 100%;
}

body {
  background-color: rgb(240, 240, 240);
  height: 100%;
}

p {
  margin: 0%;
}

#root {
  height: 100%;
}

html {
  height: 100%;
}